# @see https://docs.docker.com/engine/reference/builder/#dockerignore-file
*
!/bin
!/config/packages/*.yaml
!/config/packages/prod/*.yaml
!/config/routes/annotations.yaml
!/config/secrets/prod/*.php
!/config/*.php
!/config/*.yaml
!/deploy
!/migrations
!/public
!/src
!/templates
!/translations
!/vendor
!.env

# Used during builds
!/assets
!composer.*
!symfony.*
!package.json
!yarn.lock
!webpack.config.js
!entrypoint.sh

# Used for php/nginx configuration
!php.ini
!php-fpm.conf
!www.conf
!nginx.conf
!default.conf
