{% extends 'layout.html.twig' %}

{% block title %}{{'dashboard'|trans}}{% endblock %}

{% block body %}
<div class="container mt-2">
  <div class="row">
    <div class="col-sm">

Coming soon

    </div>
  </div>
</div>
{% endblock %}
